/* .Login_Page {
    display: flex;
    align-items: center;
    justify-content: center;
} */

#LoginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

    background-color: skyblue;
}


